/* 

// Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

// Colors

/// Primary

- Dark Blue: hsl(240, 38%, 20%)
- Grayish Blue: hsl(240, 18%, 77%)

/// Typography

/// Body Copy

- Font size: 32px

///// Font

- Family: [Inter](https://fonts.google.com/specimen/Inter)
- Weights: 300, 500, 700

*/

:root {
  --color-primary: hsl(240, 38%, 20%);
  --color-primary-grey-blue: hsl(240, 18%, 77%);

  --grey-light-1: #faf9f9;
  --grey-light-2: #f4f2f2;
  --grey-light-3: #f0eeee;
  --grey-light-4: #ccc;

  --grey-dark-1: #333;
  --grey-dark-2: #777;
  --grey-dark-3: #999;

  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}
body {
  box-sizing: border-box;
}

button {
  text-decoration: none;
  cursor: pointer;
  background-color: white;
  border: none;
}

.container {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  background-image: linear-gradient(
    to right bottom,
    var(--color-primary-light),
    var(--color-primary-dark)
  );
  color: var(--grey-dark-2);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100%;
}

.carousel {
  box-shadow: var(--shadow-dark);
  margin: 0 auto;
  width: 800px;
  max-width: 800px;
  display: flex;
  justify-content: center;
  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.carousel__testimonial {
  display: none;
  flex-direction: row;

  height: 70%;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 2em;
}
.active {
  display: flex;
  animation: fadeVisibility 0.5s;
}

.hidden {
  display: none;
}
.carousel__image__container {
  background-image: url("../images/pattern-bg.svg");
  background-position: 15% 30%;
  background-repeat: no-repeat;
  background-size: contain;

  padding: 4em;
}

.carousel__image {
  max-height: 260px;
  border-radius: 2%;
  box-shadow: 2px 2px 10px hsl(240deg 18% 77%);
}

.carousel__content {
  z-index: 99;
  max-width: 40%;

  left: 11%;
  position: relative;
}
.carousel__content__text {
  font-size: 1.5rem;
  font-weight: 300;
  color: #333;
}

.carousel__content__name {
  margin-top: 1em;
  font-size: 1.2rem;
  color: rgb(150, 146, 146);
}

.carousel__content__name span {
  font-weight: 700;
  margin-right: 10px;
  color: black;
}

.carousel-actions {
  z-index: 999;
  position: absolute;
  width: 50px;
  max-width: 50px;
  padding: 5px 6px;
  border-radius: 16px;
  box-shadow: 2px 2px 10px hsl(240deg 18% 77%);
  left: 57%;
  bottom: 55px;
  background-color: white;
  display: flex;
  justify-content: space-between;
}

.btn img {
  width: 50%;
}
/*260px*/
.container__curve {
  z-index: 20;
  position: absolute;
  bottom: -5px;
  left: 0;
}

.container__curve__image {
  height: 50%;
  width: 50%;
}

.container__quote {
  z-index: 199;
  position: absolute;
  height: 60px;
  width: 70px;
  top: 70px;
  left: 195px;
}

.container__quote__image {
  height: 60px;
  width: 70px;
}

/* iphone devices (ipads, phones, 768px and down) */
@media only screen and (max-width: 600px) {
  .carousel {
    width: 100% !important;
    height: 100%;
    margin: 0;
  }
  .carousel__testimonial {
    flex-direction: column-reverse;
    width: 100%;
    height: 100%;
  }

  .carousel__content {
    max-width: 75%;
    text-align: center;
    left: 0;
  }

  .carousel__image__container {
    padding: 4em;
    margin-bottom: 3em;
  }

  .carousel__image {
    max-height: 250px;
  }

  .container__curve {
    bottom: 0;
    left: 0;
  }

  .container__curve__image {
    height: 70%;
    width: 70%;
  }

  .carousel-actions {
    left: 45% !important;
    bottom: 44% !important;
  }

  .container__quote {
    top: 60% !important;
    left: 40% !important;
  }

  .container__quote__image {
    height: 70%;
    width: 70%;
  }
}

@media only screen and (max-width: 768px) {
  .carousel {
    width: 90%;
  }

  .carousel-actions {
    left: 55%;
  }

  .container__quote {
    top: 60px;
    left: 150px;
  }
}

@keyframes fadeVisibility {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
